[data-theme="black"]{
  --color-font: #B3B8C8;
  --control-content: rgba(27, 30, 38, 0.9);
  --background-image-color: rgba(61,119,255,0.53);
  --input-color: rgba(27,30,38,0.90);
  --create-room-mode-color-bg:#1D2437;
  --user-control-container-color-bg: rgba(46,50,61,0.60);
  --user-control-container-shadow: none;
  --stream-container-flatten-bg-color: #0D0F15;
  --room-header-bg-color: #1D2029;
  --room-footer-bg-color: #1D2029;
  --room-network-bg-color: #1D2029;
  --room-audiotab-bg-color: #1D2029;
  --room-videotab-bg-color: #1D2029;
  --stop-share-region-bg-color: #1D2029;
  --setting-dialog-bg-color: #1D2029;
  --icon-arrow-hover: rgba(46,50,61,0.70);
  --el-dialog-bg-color: #1D2029;
  --tabs-title-font-color: #7C85A6;
  --center-user-info-container-bg-color: #0D0F15;
  --stream-info-bg-color: #0D0F15;
  --title-color: #B3B8C8;
  --el-dialog-bg-color-select: #1D2029;
  --el-text-color-primary-select: #CFD4E6;
  --el-text-color-regular-select: #7C85A6;
  --el-fill-color-blank-select: #2E323D;
  --el-border-color-select: #2E323D;
  --setting-name-color: #CFD4E6;
  --el-drawer-header-color: #CFD4E6;
  --user-extra-info-bg-color: #4D70FF;
  --user-extra-info-color: #2E323D;
  --check-select-color: #FFFFFF;
  --member-item-container-hover-bg-color: rgba(46,50,61,0.70);
  --el-bg-color-select: #1D2029;
  --el-bg-color-overlay-select: #1D2029;
  --el-border-color-light-select: #2E323D;
  --el-fill-color-light-select: #2E323D;
  --input-bg-color: #2E323D;
  --input-font-color: #CFD5E6;
  --input-border-color: #2E323D;
  --invite-title-color: #CFD4E6;
  --chat-editor-bg-color: #2E323D;
  --chat-editor-input-color:#292D38;
  --message-list-color: #1D2029;
  --textarea-color: #fff;
  --send-btn-color: #3D4352;
  --message-color: #3D4352;
  --background-color-style: #010101;
  --stream-container-border: #1B1E26;
  --apply-list-container-bg-color: #1D2029;
  --apply-list-container-color: #CFD4E6;
  --full-screen-svg: url(../icons/svg/full-screen.svg);
  --exit-fullscreen-svg: url(../icons/svg/exit-fullscreen.svg);
  --invite-svg: url(../icons/svg/invite.svg);
  --invite-active-svg: url(../icons/svg/invite-active.svg);
  --setting-svg: url(../icons/svg/setting.svg);
  --setting-active-svg: url(../icons/svg/setting-active.svg);
  --screen-share-svg: url(../icons/svg/screen-share.svg);
  --screen-sharing-svg: url(../icons/svg/screen-sharing.svg);
  --manage-member-svg: url(../icons/svg/manage-member.svg);
  --manage-member-active-svg: url(../icons/svg/manage-member-active.svg);
  --chat-svg: url(../icons/svg/chat.svg);
  --chat-active-svg: url(../icons/svg/chat-active.svg);
  --more-active-svg: url(../icons/svg/more-active.svg);
  --more-svg: url(../icons/svg/more.svg);
  --room-sidebar-bg-color: #1D2029;
  --screen-share-stopped-svg: url(../icons/svg/screen-share-stopped.svg);
  --camera-on-svg: url(../icons/svg/camera-on.svg);
  --camera-off-svg: url(../icons/svg/camera-off.svg);
  --mic-on-svg: url(../icons/svg/mic-on.svg);
  --mic-off-svg: url(../icons/svg/mic-off.svg);
  --apply-svg: url(../icons/svg/apply.svg);
  --go-off-seat-svg: url(../icons/svg/go-off-seat.svg);
  --switch-theme: url(../icons/svg/switch-theme.svg);
  --switch-language: url(../icons/svg/switch-language.svg);
  --copy-svg: url(../icons/svg/copy-icon.svg);
  --create-room-option: rgba(50,59,84,0.60);
  --create-room-option-color: #EEEEEE;
  --create-room-option-tab: #006EFF;
  --create-room-option-icon: #EEEEEE;
  --create-room-option-icon-color:#EEEEEE;
  --control-region-bg-color: rgba(13,16,21,0.60);
  --dialog-tabs-bg-color: rgba(0,0,0,0.20);
  --divide-line-color: #2E323D;
  --divice-line: #CFD4E6;
  --el-drawer-divide: #0D0F15;
  --send-btn: #CFD4E6;
  --camera-color: #B3B8C8;
  --invite-region: #FFFFFF;
  --layout-list: #1D2029;
  --layout-item: #2E323D;
  --stream-list-container: #1D2029;
  --more-btn-background: rgba(173,182,204,0.10);
  --user-operate-list: #2E323D;
  --user-operate-item: #CFD4E6;
  --active-blur-background-color: rgba(27,93,172,0.85);
  --divide-line-color-setting: transparent;
  --el-disabled-background: #606266;
  --el-disabled-border: #909399;
  --el-border-lighter: #2E323D;
  --title-active: #B3B8C8;
  --mic-bar-color: #2E323D;
  --more-notice-color: #7C85A6;
  --setting-dialog: none;
  --caret-color: #ffffff;
  --apply-container-primary: #CFD4E6;
  --apply-container-outline: #CFD4E6;
  --el-drawer-body: #1D2029;
  --input-color-setting: #1D2029;
  --input-color-setting-hover: #2E323D;
  --switch-core-bg: #2E323D;
  --input-color-font: #CFD4E6;
  --input-color-setting-border: #2E323D;
  --el-message-box: #1D2029;
  --el-message-box-title: #CFD4E6;
  --el-button-text-color: #7C85A6;
  /* H5新增 */
  --log-out-mobile: rgba(0, 0, 0, 0.7);
  --log-out: #2C2C2E;
  --log-out-cancel: #2C2C2E;
  --room-detail: #292D38;
  --room-detail-background: black;
  --room-detail-title: white;
  --close-svg: url(../icons/svg/close-black.svg);
  --chevron-down-svg: url(../icons/svg/chevron-down-black.svg);
  --tencent-cloud-svg: url(../icons/svg/tencent-cloud-black.svg);
  --camera-svg: url(../icons/svg/camera-switch-black.svg);
  --mirror-svg: url(../icons/svg/mirror-black.svg);
  --choose-type: #4F515A;
  --emoji-background-color:#2f313b;
  --chat-editor-input-color-h5:#292D38;
  --emoji-h5:url(../icons/svg/emoji-h5.svg);
  --chat-editor-bg-color-h5: #0D1015;
  --message-list-color-h5: #1B1E26;
  --popup-mute-background-color-h5: #FFFFFF;
  --mute-button-color-h5: #CFD5E6;
  --member-control-background-color-h5: #1B1E26;
  --member-border-color-h5:rgba(207, 212, 230, 0.1);
  --member-title-content-h5: #CFD5E6;
  --contact-us-svg: url(../icons/svg/contact-us.svg);
  --end-control-text-h5: #292D38;
  --end-control-title-h5: #CACACB;
  --end-control-cancel-h5: #FFFFFF;
  --transfer-input-color-h5: #292D38;
  --popup-background-color-h5: #1B1E26;
  --popup-title-color-h5: #CFD4E6;
  --popup-content-color-h5: #7C85A6;
  --close-cancel-h5: #5a5a5e;
  --dialog-title-h5: #FFFFFF;
  --manage-member-button-h5:#292D38;
  --message-body-h5: #292D38;
  --user-extra-info-bg-color-h5: #0565FA;
  --user-extra-info-color-h5: #FFFFFF;
}
