<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.cloud.tuikit.flutter.rtcconferencetuikit">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>
    </application>
</manifest>
