.page {
    background-color: black;
    height: 100%;
}

.swiper {
    height: 78%;
}

.grid-container {
    height: 100%;
    overflow-x: scroll;

    .grid-content {
        padding: 0;
    }

    .grid-item {
        height: 50%;
    }

    .grid-item.one-player {
        height: 100%;
    }

    .grid-item.full-screen {
        z-index: 999;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}


.pusher-container {
    height: 100%;
    width: 100%;

    .pusher {
        height: 100%;
        background-color: black;
    }
}

.player-container {
    height: 100%;
    width: 100%;
    position: relative;

    .no-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: #fff;
        background-color: rgba(50, 21, 21, 0.4);
        background: url('https://qcloudimg.tencent-cloud.cn/raw/91a241e6e267af2a0327481d931cbe44.png');
        font-size: 12px;

        image {
            width: 200rpx;
            height: 200rpx;
            border: 2px solid #E6E6E6;
            border-radius: 50%;
        }
    }

    .audio-volume {
        position: absolute;
        right: 6rpx;
        width: 36rpx;
        height: 36rpx;

        .image {
            width: 36rpx;
            height: 36rpx;
            position: absolute;
        }

        .audio-active {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            overflow: hidden;

            .image {
                bottom: 0;
            }
        }
    }

    .player {
        height: 100%;
        width: 100%;
        background-color: black;
        position: relative;
    }

    .player-control {
        background-color: rgba(0, 0, 0, .4);
        border-radius: 0 6px 6px 0;
        color: #fff;
        z-index: 999;
        position: absolute;
        bottom: 20rpx;
        display: flex;
        align-items: center;
        height: 68rpx;
        max-width: 90%;

        image {
            width: 68rpx;
            height: 68rpx;
        }

        .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 10rpx;
            margin-right: 50rpx;
            flex: 1;
        }

        .control-buttons {
            display: flex;

            .icon-button {
                margin-right: 10rpx;
            }
        }
    }
}

.switch-fullscreen {
    flex-direction: row;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40%;
    position: absolute;
    bottom: 40rpx;
    right: 30rpx;
    .button-image {
        width: 36rpx;
        height: 36rpx;
    }
}

.button-group {
    z-index: 2;
    color: #fff;

    .button-group-content {
        background-color: transparent;
    }
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nav-bar-title-text-color,#323233);
    font-size: var(--nav-bar-title-font-size,16px);
    font-weight: var(--font-weight-bold,500);
    margin: 0 auto;
    max-width: 60%;
    .switch-camera {
        font-size: 50rpx;
        margin-left: 17rpx;
        padding: 5rpx;
    }
    .copy {
        margin-left: 10rpx;
    }
}

.user-list {
    height: 70px;
    line-height: 70px;

    .avatar-col {
        height: 70px;
        display: flex;
        align-items: center;

        .avatar-image {
            height: 120rpx;
            width: 120rpx;
            border-radius: 50%;
            margin-right: 10rpx;
        }
    }

    .user-name {
        max-width: 66%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .handle-button {
        display: flex;
        align-items: center;
        height: 70px;
        justify-content: flex-end;

        image {
            height: 80rpx;
            width: 80rpx;
            margin-right: 20rpx;
        }

        .bg {
            background-color: #b1bccf;
            border-radius: 50%;
        }
    }

}

.all-control {
    display: flex;
    justify-content: center;
    height: 200rpx;
    align-items: center;

    .buttons {
        border-radius: 28px;
        font-family: PingFangSC-Medium;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
        padding: 20rpx 40rpx;
        margin-right: 40rpx;
    }

    .green {
        background: #FFFFFF;
        border: 1px solid #29CC85;
        color: #29CC85;
    }

    .green-remove {
        background: #29CC85;
        border: none;
        color: #FFFFFF;
    }

    .blue {
        border: 1px solid #006EFF;
        color: #006EFF;
        background: #FFFFFF;
    }

    .blue-remove {
        border: none;
        background: #006EFF;
        color: #FFFFFF;
    }
}

.beauty-item.filter {
    height: 200rpx;
}

.beauty-item {
    height: 100rpx;
    line-height: 100rpx;

    .beauty-container {
        height: 100%;
        display: flex;
        align-items: center;

        .beauty-slider {
            width: 100%;
        }

        .radio-group {
            display: flex;

            .type-radio {
                display: flex;
                align-items: center;
                margin-right: 60rpx;
            }
        }

        .filter-scroll {
            width: 100%;
            white-space: nowrap;

            .filter-item.selected {
                color: #006EFF;
            }

            .filter-item {
                text-align: center;
                display: inline-block;
                margin-right: 20rpx;
                font-family: PingFangSC-Regular;
                font-size: 30rpx;
                color: #999999;
                letter-spacing: 0;
                line-height: 22px;

                .filter-image {
                    width: 100rpx;
                    height: 100rpx;
                }
            }
        }

    }
}