<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>China</string>
	<key>CFBundleExecutable</key>
	<string>RoomKit</string>
	<key>CFBundleGetInfoString</key>
	<string>RoomKit 1.0.1</string>
	<key>CFBundleIconFile</key>
	<string>RoomKit.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.tencent.trtcAppMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>RoomKit 1.0.1</string>
	<key>CFBundleName</key>
	<string>RoomKit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>RoomKit 1.0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>2021 RoomKit</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>申请使用麦克风</string>
	<key>NSCameraUsageDescription</key>
	<string>申请使用摄像头</string>
</dict>
</plist>
