.tui-theme-black {
  --background-color-1: #0F1014;
  --background-color-2: #22262E;
  --background-color-3: #4F586B;
  --background-color-4: #D5E0F2;
  --background-color-5: transparent;
  --background-color-6: #373942;
  --background-color-7: #2E323D;
  --background-color-8: #22262E;
  --background-color-9: #2E323D;
  --background-color-10: #2B2F38;
  --background-color-11: #2B303A;
  --background-color-12: #4F586B;
  --background-color-13: #F9FAFD;
  --hover-background-colo-1: rgba(213, 224, 242, 0.5);
  --font-color-1: #D5E0F2;
  --font-color-2: #6B758A;
  --font-color-3: #B3B8C8;
  --font-color-4: #4F586B;
  --font-color-5: #7C85A6;
  --font-color-6: #CFD5E6;
  --font-color-7: #FFF;
  --font-color-8: #8F9AB2;
  --font-color-9: #969EB4;
  --font-color-10: #FF643D;
  --title-color: #000;
  --stroke-color: rgba(79, 88, 107, 0.30);
  --stroke-color-2: #434956;
  --border-color: #2E323D;
  --border-color-2: #E4E8EE;
  --disable-color: #2B2F38;
  --active-color-1: #1C66E5;
  --active-color-2: #4791FF;
  --green-color: #27C39F;
  --orange-color: #F06C4B;
  --white-color: #FFF;
  --black-color: #000;
  --red-color: #ED414D;
  --red-color-2: #F23C5B;
  --red-color-3: #E5395C;
  --color-font: #D5E0F2;
  --control-content: rgba(27, 30, 38, 0.9);
  --background-image-color: rgba(61,119,255,0.53);
  --input-color: rgba(27,30,38,0.90);
  --create-room-mode-color-bg:#1D2437;
  --user-control-container-color-bg: rgba(46,50,61,0.60);
  --user-control-container-shadow: none;
  --stream-container-flatten-bg-color: #0D0F15;
  --room-header-bg-color: #1D2029;
  --room-footer-bg-color: #1D2029;
  --room-network-bg-color: #1D2029;
  --room-audiotab-bg-color: #1D2029;
  --room-videotab-bg-color: #1D2029;
  --stop-share-region-bg-color: #1D2029;
  --setting-dialog-bg-color: #1D2029;
  --icon-arrow-hover: rgba(46,50,61,0.70);
  --el-dialog-bg-color: #1D2029;
  --tabs-title-font-color: #7C85A6;
  --center-user-info-container-bg-color: #0D0F15;
  --stream-info-bg-color: #0D0F15;
  --el-dialog-bg-color-select: #1D2029;
  --el-text-color-primary-select: #CFD4E6;
  --el-text-color-regular-select: #7C85A6;
  --el-fill-color-blank-select: #2E323D;
  --el-border-color-select: #2E323D;
  --setting-name-color: #CFD4E6;
  --el-drawer-header-color: #CFD4E6;
  --user-extra-info-bg-color: #4D70FF;
  --user-extra-info-color: #2E323D;
  --check-select-color: #FFF;
  --member-item-container-hover-bg-color: rgba(46,50,61,0.70);
  --el-bg-color-select: #1D2029;
  --el-bg-color-overlay-select: #1D2029;
  --el-border-color-light-select: #2E323D;
  --el-fill-color-light-select: #2E323D;
  --input-bg-color: #2E323D;
  --input-font-color: #CFD5E6;
  --input-border-color: #2E323D;
  --invite-title-color: #CFD4E6;
  --chat-editor-bg-color: #2E323D;
  --chat-editor-input-color:#292D38;
  --message-list-color: #1D2029;
  --textarea-color: #fff;
  --send-btn-color: #3D4352;
  --message-color: #3D4352;
  --background-color-style: #010101;
  --stream-container-border: #1B1E26;
  --apply-list-container-bg-color: #1D2029;
  --apply-list-container-color: #CFD4E6;
  --room-sidebar-bg-color: #1D2029;
  --create-room-option: rgba(50,59,84,0.60);
  --create-room-option-color: #EEE;
  --create-room-option-tab: #006EFF;
  --create-room-option-icon: #EEE;
  --create-room-option-icon-color:#EEE;
  --control-region-bg-color: rgba(13,16,21,0.60);
  --dialog-tabs-bg-color: rgba(0,0,0,0.20);
  --divide-line-color: #2E323D;
  --divice-line: #CFD4E6;
  --el-drawer-divide: #0D0F15;
  --send-btn: #CFD4E6;
  --invite-region: #FFF;
  --layout-list: #1D2029;
  --layout-item: #2E323D;
  --stream-list-container: #1D2029;
  --more-btn-background: rgba(173,182,204,0.10);
  --user-operate-list: #2E323D;
  --user-operate-item: #CFD4E6;
  --active-blur-background-color: rgba(27,93,172,0.85);
  --divide-line-color-setting: transparent;
  --el-disabled-background: #606266;
  --el-disabled-border: #909399;
  --el-border-lighter: #2E323D;
  --title-active: #B3B8C8;
  --mic-bar-color: #2E323D;
  --more-notice-color: #7C85A6;
  --setting-dialog: none;
  --caret-color: #fff;
  --apply-container-primary: #CFD4E6;
  --apply-container-outline: #CFD4E6;
  --el-drawer-body: #1D2029;
  --input-color-setting: #1D2029;
  --input-color-setting-hover: #2E323D;
  --switch-core-bg: #2E323D;
  --input-color-font: #CFD4E6;
  --input-color-setting-border: #2E323D;
  --el-message-box: #1D2029;
  --el-message-box-title: #CFD4E6;
  --el-button-text-color: #7C85A6;
  --selected-screen-share-dialog: #006EFF;

  /* H5 New Content */
  --log-out-mobile: rgba(0, 0, 0, 0.7);
  --log-out: #2C2C2E;
  --log-out-cancel: #2C2C2E;
  --room-detail: #292D38;
  --room-detail-background: black;
  --room-detail-title: white;
  --choose-type: #4F515A;
  --emoji-background-color:#2f313b;
  --chat-editor-input-color-h5:#292D38;
  --chat-editor-bg-color-h5: #0D1015;
  --message-list-color-h5: #1B1E26;
  --popup-mute-background-color-h5: #FFF;
  --mute-button-color-h5: #CFD5E6;
  --member-control-background-color-h5: #1B1E26;
  --member-border-color-h5:rgba(207, 212, 230, 0.1);
  --member-title-content-h5: #CFD5E6;
  --end-control-text-h5: #292D38;
  --end-control-title-h5: #CACACB;
  --end-control-cancel-h5: #FFF;
  --transfer-input-color-h5: #292D38;
  --popup-background-color-h5: #1B1E26;
  --popup-title-color-h5: #CFD4E6;
  --popup-content-color-h5: #7C85A6;
  --close-cancel-h5: #5a5a5e;
  --dialog-title-h5: #FFF;
  --manage-member-button-h5:#292D38;
  --message-body-h5: #292D38;
  --user-extra-info-bg-color-h5: #0565FA;
  --user-extra-info-color-h5: #FFF;
  --apply-container-background-outline-h5: #292D38;
  --apply-container-outline-h5: #CFD5E6;
}
