page{
  --color-font: #000000;
  --control-content: #FFFFFF;
  --background-image-color: transparent;
  --border-color: #37456F;
  --input-color: #FFFFFF;
  --create-room-mode-color-bg: #FFFFFF;
  --user-control-container-color-bg: #E8E8E8;
  --user-control-container-shadow: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px;
  --stream-container-flatten-bg-color: rgba(242,242,242,1);
  --room-header-bg-color: #FFFFFF;
  --room-footer-bg-color: #FFFFFF;
  --room-network-bg-color: #FFFFFF;
  --room-audiotab-bg-color: #FFFFFF;
  --room-videotab-bg-color: #FFFFFF;
  --stop-share-region-bg-color: #FFFFFF;
  --setting-dialog-bg-color: #FFFFFF;
  --icon-arrow-hover: rgba(232, 232, 232, 0.7);
  --el-dialog-bg-color: #FFFFFF;
  --tabs-title-font-color: #000000;
  --center-user-info-container-bg-color: #F2F2F2;
  --stream-info-bg-color: #FFFFFF;
  --title-color-bg: #666666;
  --title-color-font: #000000;
  --el-dialog-bg-color-select: #FFFFFF;
  --el-text-color-primary-select: #000000;
  --el-text-color-regular-select: #596174;
  --el-fill-color-blank-select: #FFFFFF;
  --el-border-color-select: #C8CACC;
  --setting-name-color: #000000;
  --el-drawer-header-color: #000000;
  --user-extra-info-bg-color: #006EFF;
  --user-extra-info-color: #FFFFFF;
  --member-item-container-hover-bg-color: #F3F3F3;
  --el-bg-color-select: #FFFFFF;
  --el-bg-color-overlay-select: #F2F2F2;
  --el-border-color-light-select: #F2F2F2;
  --el-fill-color-light-select: rgba(222, 222, 215, 0.7);
  --input-bg-color: #F2F2F2;
  --input-font-color: #000000;
  --input-border-color: #F2F2F2;
  --invite-title-color: #7C85A6;
  --chat-editor-bg-color: #FFFFFF;
  --message-list-color: #F6F6F6;
  --textarea-color: #000000;
  --send-btn-color: #006EFF;
  --message-color: #006EFF;
  --background-color-style: url(../imgs/banner.png);
  --stream-container-border: #ffffff;
  --apply-list-container-bg-color: #F2F2F2;
  --apply-list-container-color: #000000;
  --full-screen-svg: url(../icons/svg/full-screen-w.svg);
  --exit-fullscreen-svg: url(../icons/svg/exit-fullscreen-w.svg);
  --invite-svg: url(../icons/svg/invite-w.svg);
  --invite-active-svg: url(../icons/svg/invite-active-w.svg);
  --setting-svg: url(../icons/svg/setting-w.svg);
  --setting-active-svg: url(../icons/svg/setting-active-w.svg);
  --screen-sharing-svg: url(../icons/svg/screen-sharing-w.svg);
  --manage-member-svg: url(../icons/svg/manage-member-w.svg);
  --manage-member-active-svg: url(../icons/svg/manage-member-active-w.svg);
  --chat-svg: url(../icons/svg/chat-w.svg);
  --chat-active-svg: url(../icons/svg/chat-active-w.svg);
  --more-active-svg: url(../icons/svg/more-active-w.svg);
  --more-svg: url(../icons/svg/more-w.svg);
  --room-sidebar-bg-color: #F2F2F2;
  --screen-share-svg: url(../icons/svg/screen-share-w.svg);
  --screen-share-stopped-svg: url(../icons/svg/screen-share-stopped-w.svg);
  --camera-on-svg: url(../icons/svg/camera-on-w.svg);
  --camera-off-svg: url(../icons/svg/camera-off-w.svg);
  --mic-on-svg: url(../icons/svg/mic-on-w.svg);
  --mic-off-svg: url(../icons/svg/mic-off-w.svg);
  --apply-svg: url(../icons/svg/apply-w.svg);
  --go-off-seat-svg: url(../icons/svg/go-off-seat-w.svg);
  --switch-theme: url(../icons/svg/switch-theme-w.svg);
  --switch-language: url(../icons/svg/switch-language-w.svg);
  --copy-svg: url(../icons/svg/copy-icon-w.svg);
  --create-room-option: #eeeeee;
  --create-room-option-tab: #006EFF;
  --create-room-option-color: #006EFF;
  --create-room-option-icon: #000000;
  --create-room-option-icon-color:#006EFF;
  --control-region-bg-color: #EEEEEE;
  --dialog-tabs-bg-color: #FFFFFF;
  --divide-line-color: transparent;
  --divice-line: #dcdcdc;
  --el-drawer-divide: transparent;
  --send-btn: #FFFFFF;
  --camera-color: #000000;
  --invite-region: #000000;
  --layout-list: #EEEEEE;
  --layout-item: #FFFFFF;
  --stream-list-container: #EEEEEE;
  --more-btn-background: #006EFF;
  --user-operate-list: #EEEEEE;
  --user-operate-item: #1D1029;
  --active-blur-background-color: transparent;
  --divide-line-color-setting: #dcdcdc;
  --el-disabled-border: #b6b6b6;
  --el-disabled-background: #dcdcdc;
  --el-border-lighter: #dcdcdc;
  --title-active: #666666;
  --mic-bar-color: #babbbe;
  --more-notice-color: #000000;
  --setting-dialog: 8px;
  --caret-color: #000000;
  --apply-container-primary: #FFFFFF;
  --apply-container-outline: #000000;
  --el-drawer-body: #FFFFFF;
  --input-color-setting: #FFFFFF;
  --input-color-setting-hover: #f5f7fa;
  --switch-core-bg: #dcdfe6;
  --input-color-font: #646366;
  --input-color-setting-border: #babebe;
  --el-message-box: #FFFFFF;
  --el-message-box-title: #000000;
  --el-button-text-color: #646366;
  --selected-screen-share-dialog: #006EFF;
  /* H5新增 */
  --log-out-mobile: rgba(0, 0, 0, 0.7);
  --log-out: #F9F9F9C7;
  --log-out-cancel: #FFFFFF;
  --room-detail: #F5F5F5;
  --room-detail-background: white;
  --room-detail-title: black;
  --close-svg: url(../icons/svg/close-white.svg);
  --chevron-down-svg: url(../icons/svg/chevron-down-white.svg);
  --tencent-cloud-svg: url(../icons/svg/tencent-cloud-white.svg);
  --camera-svg: url(../icons/svg/camera-switch-white.svg);
  --mirror-svg: url(../icons/svg/mirror-white.svg);
  --choose-type: #E1E1E3;
  --emoji-background-color:#efecec;
  --chat-editor-input-color-h5:#dfdcdc;
  --emoji-h5:url(../icons/svg/emoji.svg);
  --chat-editor-bg-color-h5: #f1f1f1;
  --message-list-color-h5: #d4d4d4;
  --popup-mute-background-color-h5: #ececed;
  --mute-button-color-h5: #FFFFFF;
  --member-control-background-color-h5: #F2F2F2;
  --member-border-color-h5: #FFFFFF;
  --member-title-content-h5: #5f5c5c;
  --contact-us-svg: url(../icons/svg/contact-us-w.svg);
  --end-control-text-h5: #CFD4E6;
  --end-control-title-h5: rgba(37, 37, 37, 0.78);
  --end-control-cancel-h5: #2C2C2E;
  --transfer-input-color-h5: #d4d4d4;
  --popup-background-color-h5: #d4d4d4;
  --popup-title-color-h5: #141313;
  --popup-content-color-h5: #636060;
  --close-cancel-h5: #006EFF;
  --dialog-title-h5: #2B2E38;
  --manage-member-button-h5:#006EFF;
  --message-body-h5: #817e7e;
  --user-extra-info-bg-color-h5: #006EFF;
  --user-extra-info-color-h5: #FFFFFF;
  --apply-container-background-outline-h5: #006EFF;
  --apply-container-outline-h5: #FFFFFF;
}
