.participantListContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.participantListHeader {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color-primary);
}
