.svg-icon.add-icon {
  background: url(../icons/svg/add-icon.svg);
}
.svg-icon.apply-active {
  background: url(../icons/svg/apply-active.svg);
}
.svg-icon.apply-big-icon {
  background: url(../icons/svg/apply-big-icon.svg);
}
.svg-icon.apply-speech-icon {
  -webkit-mask-image: url(../icons/svg/apply-speech-icon.svg);
  mask-image: url(../icons/svg/apply-speech-icon.svg);
}
.svg-icon.apply {
  background: url(../icons/svg/apply.svg);
}
.svg-icon.arrow-up{
  background: url(../icons/svg/arrow-up.svg);
}
.svg-icon.avatar-icon {
  background: url(../icons/svg/avatar-icon.svg);
}
.svg-icon.camera-off-gray {
  background: url(../icons/svg/camera-off-gray.svg);
}
.svg-icon.camera-off{
  background: url(../icons/svg/camera-off.svg);
}
.svg-icon.camera-on{
  background: url(../icons/svg/camera-on.svg);
}
.svg-icon.chat-active{
  background: url(../icons/svg/chat-active.svg);
}
.svg-icon.chat{
  background: url(../icons/svg/chat.svg);
}
.svg-icon.choose-on{
  background: url(../icons/svg/choose-on.svg);
}
.svg-icon.close{
  background: url(../icons/svg/close.svg);
}
.svg-icon.copy-icon{
  background: url(../icons/svg/copy-icon.svg);
}
.svg-icon.emoji{
  background: url(../icons/svg/emoji.svg);
}
.svg-icon.exit-fullscreen{
  background: url(../icons/svg/exit-fullscreen.svg);
}
.svg-icon.free-speech-icon {
  -webkit-mask-image: url(../icons/svg/free-speech-icon.svg);
  mask-image: url(../icons/svg/free-speech-icon.svg);
}
.svg-icon.mic-on {
  background: url(../icons/svg/mic-on.svg);
}
.svg-icon.mic-off {
  background: url(../icons/svg/mic-off.svg);
}
.svg-icon.mic-off-gray {
  background: url(../icons/svg/mic-off-gray.svg);
}
.svg-icon.full-screen{
  background: url(../icons/svg/full-screen.svg);
}
.svg-icon.go-off-seat {
  background: url(../icons/svg/go-off-seat.svg);
}
.svg-icon.info{
  background: url(../icons/svg/info.svg);
}
.svg-icon.invite-active{
  background: url(../icons/svg/invite-active.svg);
}
.svg-icon.invite{
  background: url(../icons/svg/invite.svg);
}
.svg-icon.lang{
  background: url(../icons/svg/lang.svg);
}
.svg-icon.layout{
  background: url(../icons/svg/layout.svg);
}
.svg-icon.arrow-border-down{
  background: url(../icons/svg/arrow-border-down.svg);
}
.svg-icon.line-arrow-down{
  background: url(../icons/svg/line-arrow-down.svg);
}
.svg-icon.line-arrow-up{
  background: url(../icons/svg/line-arrow-up.svg);
}
.svg-icon.mail-icon{
  background: url(../icons/svg/mail-icon.svg);
}
.svg-icon.manage-member{
  background: url(../icons/svg/manage-member.svg);
}
.svg-icon.manage-member-active{
  background: url(../icons/svg/manage-member-active.svg);
}
.svg-icon.minimize-screen{
  background: url(../icons/svg/minimize-screen.svg);
}
.svg-icon.more-active{
  background: url(../icons/svg/more-active.svg);
}
.svg-icon.more{
  background: url(../icons/svg/more.svg);
}
.svg-icon.phone-icon{
  background: url(../icons/svg/phone-icon.svg);
}
.svg-icon.screen-share-disabled{
  background: url(../icons/svg/screen-share-disabled.svg);
}
.svg-icon.screen-share-stopped{
  background: url(../icons/svg/screen-share-stopped.svg);
}
.svg-icon.screen-share{
  background: url(../icons/svg/screen-share.svg);
}
.svg-icon.screen-sharing{
  background: url(../icons/svg/screen-sharing.svg);
}
.svg-icon.setting-active{
  background: url(../icons/svg/setting-active.svg);
}
.svg-icon.setting{
  background: url(../icons/svg/setting.svg);
}
.svg-icon.switch-language{
  background: url(../icons/svg/switch-language.svg);
}
.svg-icon.turn-page-arrow-left{
  background: url(../icons/svg/turn-page-arrow-left.svg);
}
.svg-icon.user{
  background: url(../icons/svg/user.svg);
}
.svg-icon.verify-code{
  background: url(../icons/svg/verify-code.svg);
}
.svg-icon.voice{
  background: url(../icons/svg/voice.svg);
}
