.svg-icon.add-icon {
  background-image: url(../icons/svg/add-icon.svg);
}
.svg-icon.apply-active {
  background-image: url(../icons/svg/apply-active.svg);
}
.svg-icon.apply-big-icon {
  background-image: url(../icons/svg/apply-big-icon.svg);
}
.svg-icon.apply-speech-icon {
  -webkit-mask-image: url(../icons/svg/apply-speech-icon.svg);
  mask-image: url(../icons/svg/apply-speech-icon.svg);
}
.svg-icon.apply {
  background-image: var(--apply-svg);
}
.svg-icon.arrow-up{
  background-image: url(../icons/svg/arrow-up.svg);
}
.svg-icon.avatar-icon {
  background-image: url(../icons/svg/avatar-icon.svg);
}
.svg-icon.camera-off-gray {
  background-image: url(../icons/svg/camera-off-gray.svg);
}
.svg-icon.camera-off{
  background-image: var(--camera-off-svg);
}
.svg-icon.camera-on{
  background-image: var(--camera-on-svg);
}
.svg-icon.chat-active{
  background-image: var(--chat-active-svg);
}
.svg-icon.chat{
  background-image: var(--chat-svg);
}
.svg-icon.choose-on{
  background-image: url(../icons/svg/choose-on.svg);
}
.svg-icon.close{
  background-image: url(../icons/svg/close.svg);
}
.svg-icon.copy-icon{
  background-image: var(--copy-svg);
}
.svg-icon.emoji{
  background-image: url(../icons/svg/emoji.svg);
}
.svg-icon.emoji-h5{
  background-image: var(--emoji-h5);
}
.svg-icon.exit-fullscreen{
  background-image: var(--exit-fullscreen-svg);
}
.svg-icon.free-speech-icon {
  -webkit-mask-image: url(../icons/svg/free-speech-icon.svg);
  mask-image: url(../icons/svg/free-speech-icon.svg);
}
.svg-icon.mic-on {
  background-image: var(--mic-on-svg);
}
.svg-icon.mic-off {
  background-image: var(--mic-off-svg);
}
.svg-icon.mic-off-gray {
  background-image: url(../icons/svg/mic-off-gray.svg);
}
.svg-icon.full-screen{
  background-image: var(--full-screen-svg);
}
.svg-icon.go-off-seat {
  background-image: var(--go-off-seat-svg);
}
.svg-icon.info{
  background-image: url(../icons/svg/info.svg);
}
.svg-icon.invite-active{
  background-image: var(--invite-active-svg);
}
.svg-icon.invite{
  background-image: var(--invite-svg);
}
.svg-icon.layout{
  background-image: url(../icons/svg/layout.svg);
}
.svg-icon.arrow-border-down{
  background-image: url(../icons/svg/arrow-border-down.svg);
}
.svg-icon.line-arrow-down{
  background-image: url(../icons/svg/line-arrow-down.svg);
}
.svg-icon.line-arrow-up{
  background-image: url(../icons/svg/line-arrow-up.svg);
}
.svg-icon.mail-icon{
  background-image: url(../icons/svg/mail-icon.svg);
}
.svg-icon.manage-member{
  background-image: var(--manage-member-svg);
}
.svg-icon.manage-member-active{
  background-image: var(--manage-member-active-svg);
}
.svg-icon.minimize-screen{
  background-image: url(../icons/svg/minimize-screen.svg);
}
.svg-icon.more-active{
  background-image: var(--more-active-svg);
}
.svg-icon.more{
  background-image: var(--more-svg);
}
.svg-icon.phone-icon{
  background-image: url(../icons/svg/phone-icon.svg);
}
.svg-icon.screen-share-disabled{
  background-image: url(../icons/svg/screen-share-disabled.svg);
}
.svg-icon.screen-share-stopped{
  background-image: var(--screen-share-stopped-svg);
}
.svg-icon.screen-share{
  background-image: var(--screen-share-svg);
}
.svg-icon.screen-sharing{
  background-image: var(--screen-sharing-svg);
}
.svg-icon.setting-active{
  background-image: var(--setting-active-svg);
}
.svg-icon.setting{
  background-image: var(--setting-svg);
}
.svg-icon.switch-language{
  background-image: url(../icons/svg/switch-language.svg);
}
.svg-icon.turn-page-arrow-left{
  background-image: url(../icons/svg/turn-page-arrow-left.svg);
}
.svg-icon.switch-theme{
  background-image: var(--switch-theme);
}
.svg-icon.user{
  background-image: url(../icons/svg/user.svg);
}
.svg-icon.verify-code{
  background-image: url(../icons/svg/verify-code.svg);
}
.svg-icon.voice{
  background-image: url(../icons/svg/voice.svg);
}
.svg-icon.language-icon{
  background-image: var(--switch-language);
}
.svg-icon.enter-room{
  background-image: url(../icons/svg/enter-room.svg);
}
.svg-icon.close-back{
  background-image: var(--close-svg);
}
.svg-icon.chevron-down{
  background-image: var(--chevron-down-svg);
}
.svg-icon.tencent-cloud{
  background-image: var(--tencent-cloud-svg);
}
.svg-icon.tencent-cloud-text{
  background-image: url(../icons/svg/tencent-cloud.svg);
}
.svg-icon.speaker{
  background-image: var(--speaker-svg);
}
.svg-icon.camera{
  background-image: var(--camera-svg);
}
.svg-icon.mirror{
  background-image: var(--mirror-svg);
}
.svg-icon.qrcode{
  background-image: url(../icons/svg/mini-qrcode.svg);
}
.svg-icon.copy-icon-qrcode{
  background-image: url(../icons/svg/copy-icon-qrcode.svg);
}
.svg-icon.contact-us-h5 {
  background-image: var(--contact-us-svg);
}
.svg-icon.mute-h5 {
  background-image: url(../icons/svg/mute-h5.svg);
}
.svg-icon.kick-h5 {
  background-image: url(../icons/svg/kick-h5.svg);
}
.svg-icon.loading{
  background-image: url(../icons/svg/loading.svg);
}
