// 上下工具栏背景颜色
$toolBarBackgroundColor: #1D2029;
// room 背景颜色
$roomBackgroundColor: #0D0F15;
// 主色调
$primaryColor: #2E323D;
// 文字颜色
$fontColor: #B3B8C8;
// 白色
$whiteColor: #FFFFFF;
// 非激活状态文字颜色
$inactiveColor: #7C85A6;
// 激活状态文字颜色
$activeColor: #CDD5DE;
// 高亮的颜色
$primaryHighLightColor: #006EFF;
// 音量、网络等级颜色
$levelHighLightColor: #43D92B;
// 布局展示block的颜色
$layoutBlockColor: #7C85A6;
// disabled的颜色
$disabledColor: #484C59;

// 设置弹窗的颜色
// 设置弹窗的 tabs 栏背景色
$dialogTitleBackgroundColor: rgba(0,0,0,0.20);
// 激活状态下标志颜色
$activeStateColor: #1883FF;
// 激活状态下阴影颜色
$activeBlurBackgroundColor: rgba(27,93,172,0.85);
// 激活状态下背景颜色
$activeBackgroundColor: rgba(46,50,61,0.60);
