#roomContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    height: 80%;
    width: 80%;
    .header-container>.right-container {
        display: none;
    }
}

#roomContainer.tui-room-h5 {
    width: 100%;
    height: 100%;
}