@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #006EFF,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  ),
  $fill-color: (
    '': #f0f2f5,
    'light': #2E323D,
    'lighter': #fafafa,
    'extra-light': #fafcff,
    'dark': #ebedf0,
    'darker': #e6e8eb,
    'blank': #2E323D,
  ),
  $border-color: (
    '':#2E323D,
    'light': #2E323D,
    'lighter': #ebeef5,
    'extra-light': #f2f6fc,
    'dark': #d4d7de,
    'darker': #cdd0d6,
  ),
  $bg-color: (
    '': #ffffff,
    'page': #ffffff,
    'overlay': #1D2029,
  ),
  $text-color: (
    'primary': #CFD4E6,
    'regular': #7C85A6,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,
  ),
  $slider: (
    'border-radius': 3px,
    'height': 4px,
    'button-size': 12px,
    'button-wrapper-size': 36px,
    'button-wrapper-offset': -15px,
  ),
  $popover: (
    'bg-color': #1D2029,
    'border-color': #2E323D,
  ),
  $drawer: (
    'bg-color': #1D2029,
    'padding-primary': 32px 22px 32px 32px,
  ),
  $dialog: (
    'bg-color': #1D2029,
    'box-shadow': 0 1px 10px 0 rgba(0,0,0,0.30),
    'title-font-size': 20px,
    'content-font-size': 14px,
    'font-line-height': 22px,
    'padding-primary': 20px,
    'border-radius': getCssVar('border-radius-small'),
  ),
);
