.streamCover {
  $border-width: 2px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  border: $border-width solid transparent;
  border-radius: 8px;
  transform: translateZ(0);
  will-change: transform;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }

  &.speaking {
    border-color: var(--uikit-color-green-5);
  }
}

.centerInfo {
  $border-width: 2px;

  position: absolute;
  top: 0 - $border-width;
  left: 0 - $border-width;
  width: calc(100% + $border-width * 2);
  height: calc(100% + $border-width * 2);
  background-color: var(--bg-color-operate);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: var(--bg-color-operate);
  }
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 96px;
  max-height: 96px;
  transform: translate(-50%, -50%);
}

.cornerInfo {
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
  max-width: calc(100% - 8px);
  height: 24px;
  padding-right: 10px;
  overflow: hidden;
  font-size: 14px;
  color: var(--uikit-color-white-1);
  background-color: var(--uikit-color-black-5);
  border-radius: 16px;
}

.masterIcon,
.adminIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 0;
  background-color: var(--button-color-primary-default);
  border-radius: 50%;
}

.adminIcon {
  background-color: var(--text-color-warning);
}

.audioIconContainer {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-left: 4px;

  &:first-child {
    margin-left: 8px;
  }
}

.audioLevelContainer {
  position: absolute;
  top: 2px;
  left: 6px;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  width: 8px;
  height: 12px;
  overflow: hidden;
  border-radius: 4px;
}

.audioLevel {
  width: 100%;
  background-color: var(--text-color-success);
  transition: height 0.2s;
}

.audioIcon {
  position: absolute;
  top: 0;
  left: 0;
}

.userName {
  min-width: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.screenIcon {
  flex-shrink: 0;
  min-width: 0;
  margin-right: 2px;
  margin-left: 4px;
  color: var(--uikit-color-white-1);
}

.screenInfo {
  flex-shrink: 0;
  min-width: 0;
  margin-left: 4px;
  font-size: 12px;
  color: var(--uikit-color-white-1);
}
