.roomChat {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  -webkit-tap-highlight-color: transparent;
}

.roomMessageList {
  flex: 1;
  min-height: 0;
  padding: 12px 8px;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid var(--stroke-color-secondary);
}

.roomMessageInput {
  flex-shrink: 0;
}
