.custom-element-class {
  --el-color-primary: #006EFF;
  --el-fill-color-light: #2E323D;
  --el-fill-color-blank: #2E323D;
  --el-border-color: #2E323D;
  --el-border-color-light: #2E323D;
  --el-border-color-lighter: #2E323D;
  --el-bg-color: #1D2029;
  --el-bg-color-page: #ffffff;
  --el-bg-color-overlay: #1D2029;
  --el-text-color-primary: #CFD4E6;
  --el-text-color-regular: #7C85A6;
  --el-slider-height: 4px;
  --el-slider-button-size: 12px;
  --el-dialog-bg-color: #1D2029;
  --el-dialog-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.30);
  --el-disabled-bg-color: #606266;
  --el-disabled-border-color: #909399;
}
