.add-icon {
  background: url(../icons/svg/add-icon.svg);
}
.apply-active {
  background: url(../icons/svg/apply-active.svg);
}
.apply-big-icon {
  background: url(../icons/svg/apply-big-icon.svg);
}
.apply-speech-icon {
  -webkit-mask-image: url(../icons/svg/apply-speech-icon.svg);
  mask-image: url(../icons/svg/apply-speech-icon.svg);
}
.apply {
  background: url(../icons/svg/apply.svg);
}
.arrow-up{
  background: url(../icons/svg/arrow-up.svg);
}
.avatar-icon {
  background: url(../icons/svg/avatar-icon.svg);
}
.camera-off-gray {
  background: url(../icons/svg/camera-off-gray.svg);
}
.camera-off{
  background: url(../icons/svg/camera-off.svg);
}
.camera-on{
  background: url(../icons/svg/camera-on.svg);
}
.chat-active{
  background: url(../icons/svg/chat-active.svg);
}
.chat{
  background: url(../icons/svg/chat.svg);
}
.choose-on{
  background: url(../icons/svg/choose-on.svg);
}
.close{
  background: url(../icons/svg/close.svg);
}
.copy-icon{
  background: url(../icons/svg/copy-icon.svg);
}
.emoji{
  background: url(../icons/svg/emoji.svg);
}
.exit-fullscreen{
  background: url(../icons/svg/exit-fullscreen.svg);
}
.free-speech-icon {
  -webkit-mask-image: url(../icons/svg/free-speech-icon.svg);
  mask-image: url(../icons/svg/free-speech-icon.svg);
}
.mic-on {
  background: url(../icons/svg/mic-on.svg);
}
.mic-off {
  background: url(../icons/svg/mic-off.svg);
}
.mic-off-gray {
  background: url(../icons/svg/mic-off-gray.svg);
}
.full-screen{
  background: url(../icons/svg/full-screen.svg);
}
.go-off-seat {
  background: url(../icons/svg/go-off-seat.svg);
}
.info{
  background: url(../icons/svg/info.svg);
}
.invite-active{
  background: url(../icons/svg/invite-active.svg);
}
.invite{
  background: url(../icons/svg/invite.svg);
}
.lang{
  background: url(../icons/svg/lang.svg);
}
.layout{
  background: url(../icons/svg/layout.svg);
}
.arrow-border-down{
  background: url(../icons/svg/arrow-border-down.svg);
}
.line-arrow-down{
  background: url(../icons/svg/line-arrow-down.svg);
}
.line-arrow-up{
  background: url(../icons/svg/line-arrow-up.svg);
}
.mail-icon{
  background: url(../icons/svg/mail-icon.svg);
}
.manage-member{
  background: url(../icons/svg/manage-member.svg);
}
.manage-member-active{
  background: url(../icons/svg/manage-member-active.svg);
}
.minimize-screen{
  background: url(../icons/svg/minimize-screen.svg);
}
.more-active{
  background: url(../icons/svg/more-active.svg);
}
.more{
  background: url(../icons/svg/more.svg);
}
.phone-icon{
  background: url(../icons/svg/phone-icon.svg);
}
.screen-share-disabled{
  background: url(../icons/svg/screen-share-disabled.svg);
}
.screen-share-stopped{
  background: url(../icons/svg/screen-share-stopped.svg);
}
.screen-share{
  background: url(../icons/svg/screen-share.svg);
}
.screen-sharing{
  background: url(../icons/svg/screen-sharing.svg);
}
.setting-active{
  background: url(../icons/svg/setting-active.svg);
}
.setting{
  background: url(../icons/svg/setting.svg);
}
.switch-language{
  background: url(../icons/svg/switch-language.svg);
}
.turn-page-arrow-left{
  background: url(../icons/svg/turn-page-arrow-left.svg);
}
.user{
  background: url(../icons/svg/user.svg);
}
.verify-code{
  background: url(../icons/svg/verify-code.svg);
}
.voice{
  background: url(../icons/svg/voice.svg);
}
.language-icon{
  background: url(../icons//svg/language-icon.svg);
}
