@mixin success_color() {
  color: var(--text-color-success);
  background-color: var(--toast-color-success);
}

@mixin err_color() {
  color: var(--text-color-error);
  background-color: var(--toast-color-error);
}

@mixin warning_color() {
  color: var(--text-color-warning);
  background-color: var(--toast-color-warning);
}

@mixin info_color() {
  color: var(--text-color-primary);
  background-color: var(--toast-color-default);
}
