.expandFooterH5 {
  position: absolute;
  top: 8px;
  bottom: inherit;
  left: 8px;
  z-index: 11;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 16px);
  padding: 8px;
  background-color: transparent;
  transition: height 0.3s ease;

  &.showMoreMenu {
    top: inherit;
    bottom: 20px;
    background-color: var(--bg-color-input);
    border-radius: 16px;
  }
}

.controlBar {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  transition: opacity 0.3s;

  &.hideMoreMenu {
    height: 160px;
    transition: height 0.3s ease;
  }
}

.controlButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
