.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-default);
  background-repeat: no-repeat;
  background-size: cover;
}

.themeDark {
  background-image: url('../../assets/background-black.png');
}

.themeLight {
  background-image: url('../../assets/background-white.png');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.headerLeft {
  display: flex;
  flex: 1;
  gap: 24px;
  justify-content: flex-start;
}

.headerRight {
  display: flex;
  flex: 1;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.title {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  width: 484px;
  height: 63px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.logoDarkZh {
  background-image: url('../../assets/logo-black-zh.png');
}

.logoDarkEn {
  width: 352px;
  background-image: url('../../assets/logo-black-en.png');
}

.logoLightZh {
  background-image: url('../../assets/logo-white-zh.png');
}

.logoLightEn {
  width: 352px;
  background-image: url('../../assets/logo-white-en.png');
}

.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.roomPreviewContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
  height: 544px;
  padding: 20px 20px 32px;
  background-color: var(--bg-color-operate);
  border-radius: 24px;
  box-shadow:
    0 2px 6px var(--uikit-color-black-8),
    0 8px 18px var(--uikit-color-black-8);
}

.cameraPreviewArea {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: var(--uikit-color-black-1);
  border-radius: 8px;
}

.videoPreview {
  width: 100%;
  height: 100%;
}

.attentionInfo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.offCameraInfo {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: var(--uikit-color-gray-7);
}

.loading {
  animation: loading-rotate 2s linear infinite;
}

@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mediaControlRegion {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.roomControlRegion {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.scheduleList {
  box-sizing: border-box;
  min-width: 470px;
  max-width: 470px;
  height: 544px;
  padding: 10px;
  overflow: auto;
  user-select: none;
  background-color: var(--bg-color-operate);
  border-radius: 24px;
  box-shadow:
    0 2px 6px var(--uikit-color-black-8),
    0 8px 18px var(--uikit-color-black-8);

  :global(::-webkit-scrollbar-track) {
    margin: 16px 0;
    background: transparent;
  }

  :global(::-webkit-scrollbar) {
    width: 6px;
  }

  :global(::-webkit-scrollbar-thumb) {
    background-color: var(--stroke-color-secondary);
    border-radius: 3px;
  }
}
