body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#roomContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: auto;
  touch-action: manipulation;
}

#roomContainer *, ::before, ::after{
	box-sizing: border-box;
}